[submodule "site-lisp/magit"]
	path = site-lisp/magit
	url = http://github.com/philjackson/magit.git
[submodule "site-lisp/jw-emacs-setup"]
	path = site-lisp/jw-emacs-setup
	url = git://github.com/jimweirich/emacs-setup.git
[submodule "site-lisp/find-file-in-project"]
	path = site-lisp/find-file-in-project
	url = git@github.com:dougalcorn/find-file-in-project.git
[submodule "site-lisp/emacs-ruby-electric"]
	path = site-lisp/emacs-ruby-electric
	url = git@github.com:dougalcorn/emacs-ruby-electric.git
[submodule "coffee-mode"]
	path = coffee-mode
	url = git://github.com/defunkt/coffee-mode.git
